
body{
    background-image: url(./imgs/moorish-pattern_644416-582.jpg);
}
h1{
    color:rgb(83, 131, 221);
    background-color: lightblue;
    text-align: right;
}
a{
    color: yellow;
}
ul{
    background-color: blue;
}