
body{
    background-image: url(./imgs/bg.webp);
    background-repeat:no-repeat;
    background-size:cover;
}
h1{
    text-align: right;
    background-color: grey;
    color: white;
}
ul{
    background-color:grey;
}
a{
    color:black;
}
h3{
    color:white;
}