
body{
    background-image: url(./imgs/winter-snow.jpg);
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    background-color: dimgrey;
    border: 10px;
    border-color: black;
}
li{
    display: flex;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
    color: white;
    background-color:dimgrey;
}
ul{
    border: 5px;
    border-color: yellow;
}
.jul{
    color: tomato;
}
td, th{
    color: black;
    border: 1px solid tomato;
}
table{
    padding: 2px;
    display: flex;
    justify-content: center;
}
td{
    background-color: bisque;
}
th{
    background-color: grey;
}